@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --fundo-principal:#fdfdfd;
    --fundo-secao:rgb(202, 202, 202);
    --fundo-itens:rgb(54, 54, 54);
    --borda: black;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--fundo-principal);
}
header{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px;
    height: 4em;
    position:relative;
}
nav#menu{
   width: 100%;
   padding: 5px;
}
nav#menu ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
nav#menu a{
    color: white;
   text-decoration: none;
   background-color: var(--fundo-itens);
   padding: 10px;
   border-radius: 5px;
}
nav#menu ul li:nth-child(6){
    position: absolute;
    right: 3px;
}
nav#menu a.link{
    border-radius: 20px;
}
main{
    display: grid;
}
section#ficha{
   background-color: var(--fundo-secao);
   
   border-radius: 5px;

   margin: auto;
   
}
section#ficha h1{
    text-align: center;
    padding: 5px;
}
section#ficha p{
    text-align: justify;
    padding: 10px;
}
img.foto{
    border-radius: 500px;
    border: solid 5px var(--borda);
    width: 200px;
    display: flex;
    display: block;
    margin: auto;
    margin-top: 10px;
    
}
div#fcontato{
    border: 2px solid var(--borda);
    border-radius: 10px;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 400px;
    height: 200px;
}
div#fcontato h2{
    padding: 17px;
    text-align: center;
   
}
div#fcontato form {
    padding: 5px;
    text-align: center;
   
}
div#fcontato form input{
    padding: 5px;
}



@media screen and (min-width:620px) {
    #menu > ul{
        justify-content: center;
        margin-left: 20em;
    }
    section#ficha{
        display: grid;
        height: 600px ;
        width: 600px;
    }
}


